label {
    width:180px;
    text-align:left;
    padding-bottom:5px;
}

table{
	margin-top: 50px;
	text-align: center;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
    
}

#show th, #show td{
	padding: 10px;
    border: 1px solid black;
}

tr {
    text-align: left;
}
