@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

label {
    width:180px;
    text-align:left;
    padding-bottom:5px;
}

table{
	margin-top: 50px;
	text-align: center;
    border: 2px;
    
}
.btn {
    margin-left: 20px;
}

#show th, #show td{
	padding: 10px;
    border: 1px solid black;
}

.display-table{
    width: 750px; 
    margin-left: auto; 
    margin-right: auto; 
    
}

.form {
    padding-left: 270px;
    padding-top: 20px;
}
